<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.8234.21088" newVersion="1.1.8234.21088" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8234.21189" newVersion="1.0.8234.21189" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8222.36466" newVersion="1.0.8222.36466" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8172.37171" newVersion="1.0.8172.37171" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8234.20901" newVersion="1.0.8234.20901" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8234.21035" newVersion="1.0.8234.21035" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8177.42068" newVersion="1.0.8177.42068" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7842.32362" newVersion="1.0.7842.32362" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8200.38798" newVersion="2.0.8200.38798" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8171.36704" newVersion="1.0.8171.36704" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8199.27245" newVersion="1.0.8199.27245" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.8343.38579" newVersion="2.1.8343.38579" />
			</dependentAssembly>
		</assemblyBinding>
		<!--<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />-->
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>
